*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body{
    background-color: black;
}

.heading{
    margin: 20px;
    text-align: center;
}

.hero{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1200px;
    height: 700px;
    background-color: #272121 ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.guessPlace{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.guessPlace input{
    height: 50px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
